<%= stylesheet_link_tag "jquery-ui_smoothness_1-11-4" %>

<style type="text/css">
  p.rstitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  div.rsdescription {
    font-size: 15px;
    margin-top: 35px;
  }
  div.progressbar .ui-widget-header {
    background: #337ab7;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  div.progressbar.ui-progressbar .ui-progressbar-value {
    margin: 0px;
  }
  .rsbutton {
    width: 100%;
  }
</style>

<div class="rsevaluation_wrapper">
  <p class="rstitle"><%=t("rsevaluation.steptitle", :step => "1").html_safe%></p>
  <div id="progressbar" class="progressbar"></div>
  <div class="rsdescription"><%=t("rsevaluation.step1.description").html_safe%></div>
  <div class="rsdescription"><%=t("rsevaluation.step1.descriptionb").html_safe%></div>
  <br/>
  <div class="surveyWrapper">
    <p><%=t("search.titles.age").capitalize%>: <input id="age" type="number" min="18" max="99" maxlength="2"/></p>
    <p><%=t("rsevaluation.form.gender").capitalize%>: 
      <select id="gender">
        <option value="male"><%=t("rsevaluation.form.male")%></option>
        <option value="female"><%=t("rsevaluation.form.female")%></option>
      </select>
    </p>
    <p><%=t("rsevaluation.form.occupation").capitalize%>: 
      <select id="occupation">
        <option value="teacher"><%=t("rsevaluation.form.teacher")%></option>
        <option value="student"><%=t("rsevaluation.form.student")%></option>
        <option value="other"><%=t("rsevaluation.form.other")%></option>
      </select>
    </p>
    <p><%=t("rsevaluation.form.lor_exp").capitalize%>: 
      <select id="lor_exp">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </p>
  </div>
  <br/>
  <button id="step" class="btn btn-primary rsbutton"><%=t("dictionary.next")%></button>
  <form id="stepform" style="display:none" action="/rsevaluation/step/1" method="POST">
    <input type="hidden" name="data">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  </form>
</div>

<%content_for :javascript do%>
  $("#progressbar").progressbar({
    value: 33
  });
  $("#step").click(function(event){
    event.preventDefault();
    event.stopPropagation();
    var data = {};
    data["age"] = $("#age").val();
    data["gender"] = $("#gender").val();
    data["occupation"] = $("#occupation").val();
    data["lor_exp"] = $("#lor_exp").val();

    if((data["age"].trim()==="")||(data["gender"].trim()==="")||(data["occupation"].trim()==="")||(data["lor_exp"].trim()==="")){
      alert("<%=I18n.t("rsevaluation.messages.missing_data_in_form")%>");
      return;
    }

    var form = $("#stepform");
    $(form).find("input[name='data']").attr("value",JSON.stringify(data));
    $(form).submit();
  });
<% end %>